<div class="container mt-5 pt-5">

  <div class="row mt-5">
    <div class="col-2">
      <input #icon type="text" class="form-control" placeholder="Icon" value="fas fa-toilet-paper">
    </div>
    <div class="col">
      <input #text1 type="text" class="form-control" placeholder="Text" value="Example">
    </div>
    <div class="col">
      <input #text2 type="text" class="form-control" placeholder="Text" value="of">
    </div>
    <div class="col">
      <input #text3 type="text" class="form-control" placeholder="Text" value="label">
    </div>
    <div class="col-2">
      <button class="btn btn-block btn-primary"
              (click)="addItem(icon.value, text1.value, text2.value, text3.value)">
        Add
      </button>
    </div>
  </div>

  <hr class="m-5">

  <div class="row flex-nowrap">
    <div class="col-auto flex-nowrap">
      <div class="p-2 border rounded ">
        <button class="btn btn-primary mr-1" style="white-space: nowrap">
          <i class="fas fa-star"></i>
          Left side button
        </button>
      </div>
    </div>
    <div class="col overflow-hidden">
      <div class="row p-2 border rounded">
        <div class="col p-0"></div>
        <div class="col-auto p-0">
          <div style="width: 100%;" class="d-flex flex-grow-1" appFitContainer>
            <button class="btn btn-primary" style="white-space: nowrap">
              <i class="fas fa-ban"></i>
              Fixed button
            </button>
            <button *ngFor="let item of items; trackBy: trackBy" class="btn btn-primary ml-1" style="white-space: nowrap"
                    (click)="remove(item)">
              <i class="{{ item.icon }}"></i>
              <span [appHideElement]="3">
                {{ item.text1 }}
              </span>
              <span [appHideElement]="2">
                {{ item.text2 }}
              </span>
              <span [appHideElement]="1">
                {{ item.text3 }}
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
